<h1>Word Game</h1>
<p><%=@letters%></p>

<form action="score" data-turbo="false">
  <input type="text" placeholder="Enter your word here!">
  <input type="submit" value="Submit">
</form>

<input id="user_word" name="user_word" type="hidden">
